---
const response = await fetch(
  "https://uselessfacts.jsph.pl/api/v2/facts/random",
);
const data = await response.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h2>Random fact: {data.text}</h2>
	</body>
</html>
